/* Menu */

.menuNav  ul li a {
    opacity: 0.6;
    font-weight: 300;
    font-size: 20px;
    margin: 0px 10.56px;
    padding: 0px 10.56px;
    position: relative;
}

.menuNav ul li a:hover {
    opacity: 1.0;
    transition: 0.7s;
}

.menuNav ul li a:before {
   content: '';
   width: 0px;
   height:  3px;
   background: #8A2BE2	;
   position: absolute;
   top: 120%;
   left: 0;
   transition: 0.5s;
   mix-blend-mode: multiply;
}

.menuNav ul li a:after {

   content: '';
   width: 0px;
   height:  3px;
   background: #C0C0C0	 ;
   position: absolute;
   top: 120%;
   right: 0;
   transition: 0.5s;
   mix-blend-mode: multiply;
}

.menuNav  ul li:hover a:before{
    width: 50%;   
    transform: translateX(100%); 
}

.menuNav ul li:hover a:after {
    width: 50%;   
    transform: translateX(-100%); 
}

/* Icones Menu Contatos*/

.icones li a i:hover {
    background-color: #4834d4;
    color: #ffffff;
    transition: 0.5s;
  }

/* Icones */
.iconeteste a::before, .icones a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;


}

.iconeteste a:hover {
    transform: scale(.8);



}

.iconeteste a:hover::before {
    border-left:  4px solid;
    border-right: 4px solid;    
    transform:  skewX(30deg);


}

.iconeteste a:hover::after {
    border-top:  4px solid;
    border-bottom: 4px solid;    
    transform:  skewY(-30deg);


}



/* Menu aberto */
@media screen  and (max-width: 990px){
    #menuItens{
        text-align: center;
        padding-left: 15%;
        margin-left: 5%;

    }
    .menuNav  ul li{
        padding: 7px 0px;
    }

    .menuNav  ul li a{
        display: inline;
    }

    .icones {   
        text-align: center;
    }

    .icones li{   
        margin: 20px;
    }

}
