/* Menu */

#title:hover{
    color: #000000;
    transition: 0.5s;

}
.menuNav  ul li a {
    opacity: 0.6;
    font-weight: 300;
    font-size: 20px;
    margin: 0px 10.56px;
    padding: 0px 10.56px;
    position: relative;
}

.menuNav ul li a:hover {
    opacity: 1.0;
    transition: 0.7s;
}

.menuNav ul li a:before {
   content: '';
   width: 0px;
   height:  3px;
   background: #4834d4	;
   position: absolute;
   top: 120%;
   left: 0;
   transition: 0.5s;
   mix-blend-mode: multiply;
}

.menuNav ul li a:after {
   content: '';
   width: 0px;
   height:  3px;
   background: #C0C0C0	 ;
   position: absolute;
   top: 120%;
   right: 0;
   transition: 0.5s;
   mix-blend-mode: multiply;
}

.menuNav  ul li:hover a:before{
    width: 50%;   
    transform: translateX(100%); 
}

.menuNav ul li:hover a:after {
    width: 50%;   
    transform: translateX(-100%); 
}

/* Icones Menu Contatos*/

.icones li a i:hover {
    background-color: #4834d4;
    color: #ffffff;
    transition: 0.5s;
  }

/* Icones */


/* Efeito de digitação SECTION 1 */

.digitando {
    animation: Cursor 500ms steps(25) infinite normal, escrevendo 3s steps(25) 1s normal both;
}

@keyframes escrevendo {
    from {
        width: 0em;
    }
    
    to {
        width: 13.3em;
    }
}
@keyframes Cursor{
    from {
        border-right-color: rgb(0, 0, 0)
    }
    to {
        border-right-color:  transparent;
    }
}


/* Skills */
.barra:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 207, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}

.html {width: 65%; animation: html 4s}
.css {width: 50%; animation: css 4s}
.python {width: 55%; animation: python 4s;}
.js {width: 10%; animation: js 4s}

@keyframes html {
    0%{width: 0%}
    100%{width: 65%}
}
@keyframes css {
    0%{width: 0%}
    100%{width: 50%}
}
@keyframes python {
    0%{width: 0%}
    100%{width: 55%}
}
@keyframes js {
    0%{width: 0%}
    100%{width: 10%}
}

.btnform:hover {
    transition: 1s;
    padding: 10px 40px;
    background: linear-gradient(90deg, rgb(103, 106, 252)0%, rgb(236, 0, 185)100%);
    color: #ffffff;

}


.iconeSkills:hover{

    background: linear-gradient(135deg, rgb(103, 106, 252)0%,rgb(236, 0, 185)100%);
    transition: 0.4s;

   
}

.iconeSkills i:hover{
    color: #000000;
    transition: 0.4s;
}