@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgba(240, 255, 255, 0.534)
}
/* Menu */
#Nav{
    background: #ffffff;

}
    
#title{
    color: #6D9BA6;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 0 2.5%;

}

#menuItens {
    padding-right: 2.5%;

}
#menuItens li{
    margin: 0% 5%;
    font-size: 18px;
    font-weight: 300;
}

.icones {   
    padding: 0;
    margin: 0;
}

.icones li {
    display: inline-block;
}
      
.icones li a {
    text-decoration: none;

}

.icones i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color:#000000 ;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 3px;    
    font-size: 23px;
  }

/* Section 1 / sec1 */
#sec1 {
    padding: 60px 0px ;

}
#sec1 img{
    width: 15rem;
}
#sec1 h2{
    padding-top: 10px;
    font-size: 40px;
}
#sec1 h4{
    padding-top: 3px;
    font-size: 25px;
}

/* Efeito de digitação */
.container1{
    text-align: center;
}
.linha {
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(228, 0, 0);
    font-family: monospace;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;

}

/* 
.iconesteste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.iconesteste a{
    display: inline-block;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #000000;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
} */


  /* Skills SECTION 2 */
.skills {
    width: 40%;
    margin: 60px auto;
    color: #000000;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 207, 0.294), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}

.skills h1{
    text-align: center;
}

.iconeSkills{
    width: 45px;
    height: 45px;
    background: linear-gradient(135deg, rgb(236, 0, 185)0%, rgb(103, 106, 252)100%);
    border-radius: 7px;
    box-shadow: 0   14px 28px  rgba(166, 0, 207, 0.294);

   

   
}
.iconeSkills i{
    color: #ffffff;
    font-size: 40px;

}



#centralizaricones .iconeSkills {
    margin-left: 50%;
    transform: translate(-50%);
}
    
.skills h3{
    font-size: 15px;
    text-align: center;
}

.skills li{
    margin-top: 15px;
    padding-top: 10px;
}

.barra {
    background-color: #130f40dc;
    display: block;
    height: 20px;
    border:  1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 207, 0.534), 0 1px 3px rgba(0, 0, 0, 0.22) ;
    transition:  all 0.3s cubic-bezier(.25,.8,.25,1);
}

.barra span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(236, 0, 185)0%, rgb(103, 106, 252)100%);
}


.porcentagem{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* SECTION 3 */

#sec3 {
    padding-bottom: 70px;
}
#sec3 h1{
    padding-bottom: 50px;
}
.btnform {
    padding: 10px 40px;
    background: linear-gradient(135deg, rgb(236, 0, 185)0%, rgb(103, 106, 252)100%);
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


.contato{
    padding-top: 0px;
}

.contato p{
    padding: 10px 0px;
    font-size: 25px;
}

.iconeContato {
    font-size: 40px;
    padding-right: 10px;
}

